#automizy-email-editor #aee-block-list-modal{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5000px;
}
#automizy-email-editor .aee-block-item{
    display: inline-block;
    width: 125px !important;
    height: 85px !important;
    margin: 6px 6px 6px 6px;
    padding: 0;
    opacity: 0.9;
}
#automizy-email-editor .aee-block-item-content{
    width: 100%;
    height: 100%;
    background-position: 2px 12px;
    background-repeat: no-repeat;
}
#automizy-email-editor .aee-ui-state-highlight{
    display:block;
    text-align:center;
    vertical-align:middle;
    outline:1px solid #dddddd ;
    background-color: #efefef;
    color:#444444;
    font-size:14px;
    font-weight:bold;
    padding:22px 0 22px 0;
    width:100%;
}

#automizy-email-editor .aee-image-block-content,
#automizy-email-editor .aee-gallery-block-content{
    position: relative;
    padding: 24px;
    border: 1px solid #c1c1c1;
    font-size: 7px;
    text-align: center;
    background-color: #efefef;
}
#automizy-email-editor .aee-gallery-block-content{
    display:inline-block;
}
#automizy-email-editor .aee-gallery-block-element{
    display:inline-block;
}

#automizy-email-editor .aee-image-block-item .ui-wrapper,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper{
    display:inline-block;
    position: relative !important;
}

#automizy-email-editor .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

#automizy-email-editor .aee-image-block-item .ui-wrapper .ui-resizable-e,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper .ui-resizable-e {
    width: 12px;
    background-color: #ffffff;
    opacity: 0.5;
    cursor: e-resize;
    right: -5px;
    top: 0;
    height: 100%;
}
#automizy-email-editor .aee-image-block-item .ui-wrapper .ui-resizable-s,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper .ui-resizable-s {
    height: 12px;
    background-color: #ffffff;
    opacity: 0.5;
    cursor: s-resize;
    width: 100%;
    bottom: -5px;
    left: 0;
}
#automizy-email-editor .aee-gallery-block-element .ui-wrapper .ui-resizable-se,
#automizy-email-editor .aee-image-block-item .ui-wrapper .ui-resizable-se {
    background-image: url(../vendor/jquery-ui/images/ui-icons_222222_256x240.png);
    background-position: -64px -224px;
    width: 16px;
    height: 16px;
    cursor: se-resize;
    right: 1px;
    bottom: 1px;
    position: absolute;
}

#automizy-email-editor .aee-image-block-item .ui-wrapper .ui-resizable-e,
#automizy-email-editor .aee-image-block-item .ui-wrapper .ui-resizable-s,
#automizy-email-editor .aee-image-block-item .ui-wrapper .ui-resizable-se,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper .ui-resizable-e,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper .ui-resizable-s,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper .ui-resizable-se{
    visibility:hidden;
}
#automizy-email-editor .aee-image-block-item:hover .ui-wrapper .ui-resizable-e,
#automizy-email-editor .aee-image-block-item:hover .ui-wrapper .ui-resizable-s,
#automizy-email-editor .aee-image-block-item:hover .ui-wrapper .ui-resizable-se,
#automizy-email-editor .aee-image-block-item .ui-wrapper.ui-resizable-resizing .ui-resizable-e,
#automizy-email-editor .aee-image-block-item .ui-wrapper.ui-resizable-resizing .ui-resizable-s,
#automizy-email-editor .aee-image-block-item .ui-wrapper.ui-resizable-resizing .ui-resizable-se,
#automizy-email-editor .aee-gallery-block-element:hover .ui-wrapper .ui-resizable-e,
#automizy-email-editor .aee-gallery-block-element:hover .ui-wrapper .ui-resizable-s,
#automizy-email-editor .aee-gallery-block-element:hover .ui-wrapper .ui-resizable-se,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper.ui-resizable-resizing .ui-resizable-e,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper.ui-resizable-resizing .ui-resizable-s,
#automizy-email-editor .aee-gallery-block-element .ui-wrapper.ui-resizable-resizing .ui-resizable-se{
    visibility:visible;
}

#automizy-email-editor .aee-image-block-button,
#automizy-email-editor .aee-gallery-block-button{
    background: #FEFEFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-indent:0px;
    border:1px solid #DCD8E7;
    display:inline-block;
    color:#777777;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    padding:8px 20px 9px 20px;
    text-decoration:none;
    text-align:center;
    margin:6px;
}
#automizy-email-editor .aee-image-block-button:hover,
#automizy-email-editor .aee-gallery-block-button:hover{
    color: #2b2f33;
    border-color: #DCD8E7;
    background-color: #f3f3f9;
}
#automizy-email-editor .aee-image-block-button:active,
#automizy-email-editor .aee-gallery-block-button:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#automizy-email-editor .aee-block{
    position: relative;
}
#automizy-email-editor #aee-document{
    outline-color: #dddddd !important;
}
#automizy-email-editor #aee-document.aee-active{
    outline:2px dashed #dddddd !important;

}
#automizy-email-editor #aee-document.aee-active:hover{
    outline:2px solid #dddddd !important;
    z-index: 1;
}

#automizy-email-editor .aee-block:hover{
    outline:2px solid #ff9800;
    z-index: 1;
}

#automizy-email-editor .aee-block.aee-active{
    outline:4px dashed #ff9800 !important;
}
#automizy-email-editor .aee-block.aee-active:hover{
    outline:4px solid #ff9800 !important;
    z-index: 1;
}

#automizy-email-editor .aee-block-handle{
    position:absolute;
    top:-30px;
    left:0;
    display:none;
    width:30px;
    height:36px;
    text-align:right;
    background-color:#ff9800;
    background-repeat:no-repeat;
    background-position:center center;
    z-index:95;
}
#automizy-email-editor .aee-block-handle-delete,
#automizy-email-editor .aee-block-handle-copy{
    display:inline-block;
    width:34px;
    height:100%;
    margin:0;
    padding:0;
    cursor:pointer;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position:center center;
}
#automizy-email-editor .aee-block-handle-delete:hover,
#automizy-email-editor .aee-block-handle-copy:hover{
    background-color:#81a25d;
}
#automizy-email-editor .aee-block:hover .aee-block-handle,
#automizy-email-editor .aee-block.ui-soratbe-helper .aee-block-handle{
    display:block;
}

#automizy-email-editor .aee-image-block-item img{
    cursor:pointer;
}

#automizy-email-editor .aee-html-block-content{
    width: 90%;
    margin: 10px auto 10px auto;
    padding: 25px 0 25px 0;
    background-color: #dfdfdf;
    text-align: center;
    cursor:pointer;
}
#automizy-email-editor .aee-html-block-button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 9px 18px 9px 18px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    background-color: #b8b8b8;
    color: #ffffff;
    border: 1px solid #959595;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}

#automizy-email-editor .aee-columns-block-column{
    min-height: 100px;
    outline: 2px dashed #cccccc;
}
#automizy-email-editor .aee-columns-block-column.aee-active{
    outline: none;
}