body{
    font-family: Arial;
    background-color: #E2E2E2;
}

header{
    width: 100%;
    -moz-box-shadow: 0 -1px 3px 0 #000;
    -webkit-box-shadow: 0 -1px 3px 0 #000;
    box-shadow: 0 -1px 3px 0 #000;
    background-color: #ffffff;
    position:fixed;
    top:0;
    z-index:1001;
    display: block;
    text-align:right;
    padding: 8px 10px 8px 5%;
    box-sizing: border-box;
}

#logo{    
    display: inline-block;
    float:left;
}

#logo img{
    height:40px;
}

#header-socials{
    display: inline-block;
}

#header-socials span{
    font-size: 18px;
    margin-right:15px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#header-socials a{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}

#header-socials a img{
    height: 36px;
    margin:0;
    padding: 0;
    vertical-align: middle;
}

h1.subtitle{
    width:100%;
    background-color:#f05900;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    padding-left:5%;
    margin-top: 60px;
    display: block;
    box-sizing: border-box;
}

.content{
    display:block;
    width:100%;
    text-align:center;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-color: #E2E2E2;
}

.content h2{
    font-size:45px;
    text-align: center;
    width:80%;
    display:inline-block;
    margin: 30px 0 70px 0;
    max-width:800px;
    box-sizing: border-box;
}

#start-email-editor{
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    text-indent:0px;
    display:block;
    font-weight:bold;
    font-style:normal;
    padding:8px 20px 9px 20px;
    text-decoration:none;
    text-align:center;
    margin: 0 auto 75px auto;
    min-width:100px;
    background: #f46a1f;
    border: none;
    color: #ffffff;
    width: 60%;
    max-width:500px;
    font-size: 55px;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

#start-email-editor:hover{
    background-color: #D05A1A;
}

.content .introduction{
    width:60%;
    text-align:left;
    display:inline-block;
    font-size:20px;
}

.content .introduction a{
    text-decoration: none;
    color: #f46a1f;
}


footer{
    background-color:#4f4f4f;
    z-index: 998;
    position: absolute;
    width: 100%;
}

#editor-footer{    
    width: 100%;
    padding: 0 30px;
    padding-bottom: 50px;
    font-family: Arial;
    text-align: center;
    box-sizing: border-box;
}

#editor-footer .footer-cell{
    vertical-align: top;
    max-width: 33%;
    min-width: 250px;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
        
}

#editor-footer .footer-cell{
    color: #e5e5e5;
    font-size: 16px;
    display:inline-block;
}

#editor-footer .footer-cell h3{
    color: #ffffff;
    font-weight: normal;
    margin: 50px 0 30px 0;
    font-size: 24px;
}

#editor-footer .footer-cell .socials{
    margin-top: 30px;
}

#editor-footer .footer-cell .socials img{
    width: 36px;
    margin-right: 10px;
    cursor: pointer;
}

#editor-footer .footer-cell a{
    color: #e5e5e5;
    text-decoration: none;
}

#editor-footer .footer-cell a:hover{
    color: #ffffff;
}

#editor-footer .footer-cell .hq-info{
    margin-top: 30px;
    font-size: 18px;
}

#editor-footer .footer-cell .location{
    color:#939393;
    line-height: 2;
    font-size: 16px;
}

@media screen and (max-width: 799px){
    #logo img{
        height:35px;
    }

    #header-socials a img{
        height: 30px;
    }

    h1.subtitle{
        margin-top: 55px;
    }

    #editor-footer .footer-cell{
        max-width: 50%;
    }
}

@media screen and (max-width: 599px){
    .content h2{
        font-size: 40px;
        width:90%;
        margin-top:0;
        margin-bottom: 30px;
    }

    #start-email-editor{
        font-size: 50px;
        margin-bottom: 10px;
        width:auto;
        max-width:80%;
    }   
    
    .content .introduction{
        width:90%;
        font-size: 18px;
    }
    
    .content{
        padding-bottom: 25px;
    }
    
    #editor-footer .footer-cell{
        padding:0;
    }
    
    #editor-footer .footer-cell h3{
        margin: 25px 0 15px 0;
    }
    
    #editor-footer .footer-cell .hq-info{
        margin-top:10px;
    }
}


@media screen and (max-width: 499px){
    #header-socials span{
        display:none;
    }
    
    h1.subtitle{
        font-size:20px;
    }
    
    .content h2{
        font-size:30px;
    }

    #start-email-editor{
        font-size:40px;
    }

    .content .introduction{
        font-size:16px;
    }

}

@media screen and (max-width: 399px){
    #logo img{
        height:35px;
    }

    #header-socials a img{
        height: 25px;
    }
    
    #header-socials{
        vertical-align: -webkit-baseline-middle;
    }
}